/* checkbox */
@import './button';

.form__field-checkbox {
  position: relative;
  margin-top: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.checkbox__input {
  position: absolute;
  top: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
}

.checkbox__icon-box {
  background-origin: border-box;
  appearance: initial;
  border-radius: 2px;
  transition: background-color 250ms;
}

.checkbox__icon-uncheck {
  transition: opacity 250ms;
}

.checkbox__input:checked + .checkbox__icon-box {
  background-color: $accient-color;
}

.checkbox__input:checked + .checkbox__icon-box .checkbox__icon-uncheck {
  opacity: 0;
}

.checkbox__input:checked + .checkbox__icon-box .checkbox__icon-check {
  fill: $secondary-color;
}

.checkbox__icon-check {
  fill: transparent;
  transition: fill 250ms;
}

.checkbox__agreement {
  color: $accient-color;
  text-decoration: underline;
}

.modal-button {
  @extend %button;
  display: flex;
  margin-top: 30px;
}
