// Work section
.work__title {
  margin-bottom: 50px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__caption {
  position: absolute;
  bottom: 0;

  padding: 27px 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: $text-color;
  text-align: center;
}
