::selection {
  color: #ffffff;
  background-color: $accient-color;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 14px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

/* logo */
.logo {
  margin-right: 93px;

  font-family: Raleway, serif;
  color: $accient-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__header {
  color: #000000;
}
.logo__footer {
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(2);
}
